* {
    box-sizing: border-box;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-weight: 300;
}

html, body {
    background-color: #fcfcfa;
    color: #333;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

canvas {
    padding: 0;
    margin: 0;
    position: absolute;
    border: solid 2px white;
}
